.enter-color-error {
  color: #FF0000;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
  text-align: center;
}

.enter-color {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.enter-color-input {
  background: $dark-blue;
  border: none;
  color: $off-white;
  padding: $s-size;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
}
